:root{
    --color-primary:#0880AE;
    --color-text-normal:#756F86;
    --color-input-placeholder:#7C9CBF;
    --color-warning:#FF7171;
    --color-text-white: #EBF4F8;
    --color-background-secondary: #DBE2EA;
    --color-placeholder:#7C9CBF;
    --color-text-dark:#2C2738;
}